<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%= 4 + 5 +6 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, nemo magnam. Hic ipsum doloremque maiores nemo autem ut, atque iusto maxime, adipisci mollitia deserunt! Magnam similique distinctio ducimus fugiat a.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ex consequatur magnam enim aut alias laboriosam, facere eos quisquam ullam esse laudantium explicabo! Assumenda nesciunt ducimus, laudantium nam esse magni?</p>
</body>
</html>