#outter{
    border: 2px solid green;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    justify-content:space-around;
}

#inner{
    flex-direction: row;
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin: 5px;
    background-color: gray;
}